nav.navbar.fixed-top+div {
    margin-top: 74px;
    min-height: calc(100vh - 147px);
}
div#main{
    transition: all ease .3s;
}
div#main.blur{
    filter: blur(5px)!important;
}
.dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px 0px;
}
.no-arrow .dropdown-toggle::after {
    display: none;
}
.menu-staff{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: all ease .3s;
    z-index: 1081;
}
.menu-staff.on{
    background: rgba(255,255,255,0.8);
    height: 350px;
}
.menu-staff .btn-floating-menu{
    padding: 15px;
    background: var(--bs-indigo);
    color: #ffffff;
    font-size: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 0;
    border-radius: 50%;
    box-shadow: #898989 2px 2px 3px 0px;
}
.menu-staff .floating-menu-list {
    position: absolute;
    bottom: 85px;
    right: 20px;
    visibility: hidden;
}
.menu-staff.on .floating-menu-list {
    visibility: visible;
}
.menu-staff .floating-menu-list .btn-floating-menu-list {
    margin-top: 10px;
    opacity: 0;
    transition: all ease .3s;
    transform: translateY(40px);
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on {
    opacity: 1;
    transform: translateY(0px);
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on:nth-child(5) {
    transition-delay: 0ms;
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on:nth-child(4) {
    transition-delay: 50ms;
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on:nth-child(3) {
    transition-delay: 150ms;
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on:nth-child(2) {
    transition-delay: 300ms;
}
.menu-staff .floating-menu-list .btn-floating-menu-list.on:nth-child(1) {
    transition-delay: 500ms;
}
.menu-staff .floating-menu-list .btn-floating-menu-list .icon-floating-menu-list{
    width: 40px;
    height: 40px;
    color: #ffffff;
    line-height: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: #898989 2px 2px 3px 0px;
}
.login-page a .front-layer{
    transition: all ease .3s;
}
.login-page a:hover .front-layer {
    opacity: 0;
    transform: translateY(-90px);
}
.login-page .back-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    transform: translateY(100px);
    transition: all ease .3s;
    background: rgba(0,0,0,0.3);
}
.login-page a:hover .back-layer {
    transform: translateY(0px);
    opacity: 1;
}

.non-staff-home .boxnya .title-block{
    transition: all ease .3s;
}
.non-staff-home .boxnya:hover .title-block{
    opacity: 0;
}
.non-staff-home .back-layer {
    position: absolute;
    left: 0;
    bottom: -227px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid #dee2e6!important;
    background: rgba(0,0,0,0.1);
    align-items: center!important;
    display: grid!important;
    transition: all ease .3s;
    opacity: 0;
}
.non-staff-home .boxnya:hover .back-layer {
    bottom: 0;
    opacity: 1;
}

.bootstrap-select.bg-white > button.btn-light{
    background-color: #ffffff!important;
}
.bootstrap-select.mod-height-form-floating button,
.bootstrap-select.mod-height-form-floating button .filter-option-inner {
    height: 100%;
}

.bootstrap-select.mod-height-form-floating button .filter-option-inner {
    display: flex;
    align-items: center;
}

.bootstrap-select.mod-height-form-floating .dropdown-menu{
    width: inherit;
}
#dataInvoicePenjualan .dropdown-menu.show{
    display: flex;
}
#dataInvoicePenjualan .dropdown-menu.show li a{
    padding: 5px!important;
}
@media (max-width: 991px){
    .dropdown-menu[aria-labelledby="dropdownMenuNotif"]{
        /*width: 100%!important;*/
    }
}